.form {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    color: #000000;
    margin-top: 35px;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit input {
    background: #833AE0;
    width: 80px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.margin {
    margin-top: 20px;
}